<div class="container">
    <header class="row text-center">
      <div class="col logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Goodreads_logo.svg/2560px-Goodreads_logo.svg.png" alt="goodreads-logo" />
      </div>
    </header>
    <main class="main row">
      <div class="left col">
        <img src="https://img.freepik.com/premium-vector/young-woman-enjoy-sitting-reading-book-hygge-concept-vector-illustration_194708-2078.jpg" alt="girl-reading-a-book"/>
      </div>
      <div class="right col">
<div id="signup-box">
	<h2>Signup Here</h2>
	<div style="color : red" *ngIf='error'>{{error}}</div>
	
	<form name='signinForm' (submit)="doSignin()" class="sign-up">
		<table>
			<tr>
				<td>Username:</td>
				<td><input type='text' name='usernameOrEmail' [(ngModel)]="username" class="form-control"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' [(ngModel)]="password" class="form-control"/></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="Signin"  class="btn social btn btn-primary" /></td>
				<td>Don't have account? <a href="/auth/signup" routerLink="/auth/signup">Signup</a></td>
			</tr>
		</table>
	</form>
</div>



</div>


</main>
</div>
